.container {
	padding-top: 80px;
}

.in-line li {
	display: inline-block;
}

.profile {
	padding-top:5px; 
}

.clickable tr:hover {
	background-color: blue;
	cursor: pointer;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: #959595;
  cursor: pointer;
}